.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: #F5F7FA;
    position: relative;

    .navbar__logo {
        display: flex;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
        }

        h4 {
            margin-left: 10px;
            font-size: 1.5rem;
            color: #333;
        }
    }

    .navbar__links {
        list-style: none;
        margin: 0 auto 0 auto;
        padding: 0;
        display: flex;
        flex: 1;
        justify-content: center;
        li {
            margin-right: 1rem;

            a {
                text-decoration: none;
                color: #333;
                font-size: 1rem;
                transition: color 0.3s ease;

                &:hover {
                    color: #4CAF4F;
                }
            }
        }

        &.open {
            display: block;
            position: absolute;
            top: 60px;
            right: 0;
            background-color: #061e32;
            width: 100%;
            text-align: center;
            padding: 1rem 0;
            z-index: 10;

            li {
                margin: 1rem 0;

                a {
                    color: #fff;
                    }
            }

            .navbar__contact-btn {
                display: block;
                // margin: 1rem 0;
                width: 40%;
                margin: 0 auto;
            }
        }
    }

    .navbar__contact-btn {
        background-color: #4CAF4F;
        color: #fff !important;
        padding: 0.5rem 1rem;
        border: none;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        position: absolute;
        right: 5rem;

        &:hover {
            background-color: #219150;
        }
    }

    .navbar__menu-icon {
        display: none;
        font-size: 2rem;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        padding: 1rem 2rem;

        .navbar__links {
            display: none;
            flex-direction: column;
        }

        .navbar__menu-icon {
            display: block;
        }

        .navbar__contact-btn {
            position: static;
            /* Reset position in mobile view */
            right: auto;
        }
    }
}